@model TMAAdmin.Models.Transaction

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Transaction</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Company)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Company)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TransactionDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TransactionDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LicensePlate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LicensePlate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UserId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UserId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MachineId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MachineId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SerialNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SerialNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UniqueTransactionNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UniqueTransactionNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ReceiptNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ReceiptNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EntryDateTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EntryDateTime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ExitDateTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ExitDateTime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Duration)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Duration)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Tariff)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Tariff)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TotalAmount)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TotalAmount)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AcceptedTotal)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AcceptedTotal)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NetTotal)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NetTotal)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Vat)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Vat)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Epan }) |
    @Html.ActionLink("Back to List", "Index")
</p>
